<!--<script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/msdropdown/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/msdropdown/dd.css" />-->

{% liquid
	assign associatedProduct1 = product.metafields.associated_products.associated-1.value
	assign associatedProduct2 = product.metafields.associated_products.associated-2.value
	assign associatedProduct3 = product.metafields.associated_products.associated-3.value
	assign associatedAccentPanels = product.metafields.associated_products.accents.value
	assign associatedChecklist = product.metafields.associated_products.checklist.value
    assign swatchColor = variant.metafields.color.swatch
%}

<style>
  .select-container {
    border-radius: 10px;
  }
  .assoc-img {
    margin: 10px 0 0 10px; 
    display: inline-flex;
    /*border-radius: 10px; 
    border: 2px solid #ccc;*/
    min-height: 100px;
    min-width: 100px;
  }
  .assoc-img img {
    border-radius: 10px; 
    border: 2px solid #ccc;
  }
  .assoc-wrap {
    padding-bottom: 2rem;  
  }
  .associatedOption {
    font-weight: 700;
    font-size: 1.8rem;
  }
  .ms-options {
      margin: 0px 10px 0;
    }
    .ms-middle {
     /*display: inline-flex;*/
    }
    .ms-dd-label {
      font-size: 1.8rem;
    }
    .ms-value-input {
     /*isplay: none;*/
    } 
    .ms-dd-header {

     /*background-color: #ccc;*/
     
    }
    .ms-dd-option-content {
      /*background-color: #333;*/
      padding: 5px;
   
      color: #333;
    }
    .ms-dd, .ms-pr {
     overflow-y: hidden!important;
     background-color: #fff;
    }
  .ms-dd .ms-dd-header {
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 2px;
    cursor: pointer;
    min-height: 25px;
    position: relative;
 }

</style>

<div id="tfAssociatedProductsWrapper" >
  <div class=associated-product-variants variant-selects" pl-4 w-full">
    <form id="associatedProductForm" class="product-form">                                
      <!--******************************************************************/-->
      <!--*                      ASSOCIATED PRODUCT 1                      */-->
      <!--******************************************************************/-->                          
      {% if associatedProduct1 != blank %}
      <div id="tfAssociatedProduct1-wrapper" class="assoc-wrap">
        <div id="associatedProduct1Title" class="ass-tit text-3xl bold">
          {%- if associatedProduct1.metafields.global.display_name != blank -%}
          	{{ associatedProduct1.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- else -%}
          	{{ associatedProduct1.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- endif -%}
        </div>
        {% case product.metafields.associated_products.associated-prod-1-type.value %}
<!-- ASSOCIATED PRODUCT 1 DROPDOWN -->
        	{% when 'DROPDOWN' %}
            <div class="select-container flex">
                    
              <div class="flex inline-flex">
                <div class="assoc-img">
              	<img height="100" width="100" src="{{ associatedProduct1.featured_image | img_url: '100x', format: 'pjpg' }}" />
                </div> 
              </div>
       
              <select is="ms-dropdown"  id="associatedProduct1-select" placeholder="Select {{ associatedProduct1.title }}:" class="dropdown w-full form-control-lg text-2xl gap-5" style="overflow-y: auto" onChange="tfAssociatedChange();">
                 {% if product.metafields.associated_products.associated-1-req != true %}
                  <option value="false" data-price="0" data-vid="" data-image="">
                  SELECT AN OPTION
                  </option>
                  {% endif %}
                {% if associatedProduct1.has_only_default_variant %}
                <option
                        value="{{ associatedProduct1.id }}" 
                        class="associatedOption associatedProduct1Option {% if associatedProduct1.title contains "Lo-Brow" %}loBrow{% endif %} {% if associatedProduct1.title contains "Hi-Brow" %}hiBrow{% endif %}" 
                        data-price="{{ associatedProduct1.price }}" 
                        data-sku="{{ associatedProduct1.sku }}" 
                        data-variantId="{{ associatedProduct1.id }}" 
                        data-image="{{ associatedProduct1.image | img_url: '512x', format: 'pjpg' }}" 
                        data-product-title="{{ associatedProduct1.title }}" 
                        data-variant_title=""	
                        onClick="tfAssociatedChange();" 
                        >{{ associatedProduct1.title }} {{ associatedProduct1.price | money | strip_html }}</option>
                {% else %}
                {%- for variant in associatedProduct1.variants -%}
                <option class="associatedOption associatedProduct1Option  {% if variant.title contains "Lo-Brow" %}loBrow{% endif %} {% if variant.title contains "Hi-Brow" %}hiBrow{% endif %}" 
                        value="{{ variant.id }}" 
                        data-variant_title="{{ variant.title | escape }}" 
                        data-product_title="{{ associatedProduct1.title | escape }}" 
                        data-variant_id="{{ variant.id }}" 
                        data-sku="{{ variant.sku }}" 
                        data-price="{{ variant.price }}" 
                        data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}"
                        onClick="tfAssociatedChange();">
                  ▸ {{ variant.title }} +{{ variant.price | money }}
                </option>
                {%- endfor -%}
                {% endif %}
              </select>
            </div>
            
<!-- ASSOCIATED PRODUCT 1 CHECKBOX -->
        	{% when 'CHECKBOX' %}
           <div id="checkbox" class="w-full flex p-2 pr-5">
                  	<!--<img height="100" width="100" src="{{ associatedProduct1.featured_image | img_url: '100x', format: 'pjpg' }}" />-->
					{%- for variant in associatedProduct1.variants -%}
                      <input type="checkbox" id="associatedChecklist-{{ associatedProduct1.id }}-{{ forloop.index0 }}" 
                             name="{{ variant.id }}" 
                             value="{{ variant.title | escape }}" 
                             onChange="tfAssociatedChange();" 
                             onClick="tfAssociatedChange();" 
                             form="{{ product_form_id }}" 
                             data-product_title="{{ associatedProduct1.title | escape }}" 
                             data-variant_title="{{ variant.title | escape }}" 
                             data-sku="{{ variant.sku }}" 
                             data-price="{{ variant.price }}" 
                             data-variant_id="{{ variant.id }}" 
                             data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}" 
                             class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"                      
                             />
                      <label class="associatedChecklist-LABEL variant-radios-label align-center justify-center" for="associatedChecklist-{{ variant.id }}-{{ forloop.index0 }}">                                                   
                        <div id="optionCard" class="stuffNthangs flex flex-wrap items-center justify-center">
                          <div class="w-full h-full align-center p-2 flex items-center justify-center" style="flex-direction:column">
                            <div>
                              <img src="{{ variant.image | img_url: '96x', format: 'pjpg' }}" width="96" height="96" class="optionCardImage" style="max-width:unset;" />
                              <br />
                            </div>
                             <div class="checkboxes">
                              {{ variant.title }}
                            </div>
                          </div>
                        </div>
                      </label>
                  {% endfor %}
                </div>
<!-- ASSOCIATED PRODUCT 1 RADIO -->
        	{% when 'RADIO' %}
        		<fieldset class="fieldset js product-form__input radio-wrapper variant-radios-fieldset">
                  <img height="100" width="100" src="{{ associatedProduct1.featured_image | img_url: '100x', format: 'pjpg' }}" />
                	<legend class="form__label variant-radio-legend w-full p-1">{{ associatedProduct1.title }}</legend>
                  		<input type="radio" id="none-radio"
                                 name="{{ associatedProduct1.id }}"
                                 value="false"
								 data-product_title="" 
                             	 data-variant_title="" 
                                 data-sku="" 
                                 data-price="0" 
                                 data-variant_id="" 
                                 data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}" 
                                 onClick="tfAssociatedChange();" 
                                onChange="tfAssociatedChange();" 
                                 class="associatedChecklist-INPUT associatedChecklistOption variant-radios-input"
                         >
                            <label class="variant-radios-label" for="none-radio">
                              None
                            </label>
          			{%- for associtedVariant in associatedProduct1.variants -%} 			                  
                          <input type="radio" id="{{ associtedVariant.id }}-radio-{{ forloop.index0 }}"
                                 name="{{ associatedProduct1.id }}"
                                 value="{{ associtedVariant.id | escape }}" 
								 data-product_title="{{ associatedProduct1.title | escape }}" 
                             	 data-variant_title="{{ associtedVariant.title | escape }}" 
                                 data-sku="{{ associtedVariant.sku }}" 
                                 data-price="{{ associtedVariant.price }}" 
                                 data-variant_id="{{ associtedVariant.id }}" 
                                 data-image="{{ associtedVariant.image | img_url: '512x', format: 'pjpg' }}" 
                                 onClick="tfAssociatedChange();" 
                                 onChange="tfAssociatedChange();" 
                                 class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"
                                 >
                            <label class="variant-radios-label" for="{{ associtedVariant.id }}-radio-{{ forloop.index0 }}">
                              {{ associtedVariant.title }} {{ associtedVariant.price | money | strip_html }}
                            </label>
                        {%- endfor -%}
                      </fieldset>
      
                     <fieldset class="fieldset js product-form__input radio-wrapper variant-radios-fieldset">
                         {% for option in associatedProduct1.options_with_values %}
                        <legend class="form__label variant-radio-legend w-full p-1 text-2xl bold">{{ option.name }}</legend>                  
                        {% assign associatedVariant = associatedProduct1.selected_or_first_available_variant %}
                        {%- for value in option.values -%}                          
                         <input type="radio" 
                           id="{{ associatedVariant.id }}-option-{{ forloop.index0 }}" 
                           name="{{ option.name }}"
                                 value="{{ value | escape }}"
                                 form="{{ product_form_id }}"
                                 aria-expanded="false"
                                 onClick="tfAssociatedChange();"
                                 {% if option.selected_value == value %}checked{% endif %}
                                 class="variant-radios-input"
                           data-product_title="{{ associatedProduct1.title }}" 
                           data-variant_title="{{ option.name }}"
      
                           data-sku="{{ associatedProduct1.sku }}" 
                           data-price="{{ variant.price }}"  
                           data-variant_id="{{ associatedVariant.id }}" 
                           data-image="//cdn.shopify.com/s/files/1/0258/5424/6963/products/rzr_pro_xp_hi-brow_roof_512x.progressive.png.jpg?v=1665228220" 
                           onclick="tfAssociatedChange();" 
                           onchange="tfAssociatedChange();" 
                           class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"
                            {% if option.selected_value == value %}checked{% endif %}
                          >
                         
                          {%- if forloop.last -%}
                          <label id="cc-dd" class="variant-radios-label" for="{{ associatedVariant.id }}-option-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                          {%- else -%}
                          <label class="variant-radios-label" for="{{ associatedVariant.id }}-option-{{ forloop.index0 }}">
                            {{ value }}
                          </label>               
                          {%- endif -%}                
                        {%- endfor -%}
                                 {% endfor %}
                      </fieldset>
    
        {% endcase %}
      </div>
      {% endif %}
      <!--/******************************************************************/-->
      <!--/*                      ASSOCIATED PRODUCT 2                      */-->
      <!--/******************************************************************/-->
      {% unless associatedProduct2 == blank %}
      <div id="tfAssociatedProduct2-wrapper" class="assoc-wrap">
        <div id="associatedProduct2Title" class="ass-tit text-3xl bold">
          {%- if associatedProduct2.metafields.global.display_name != blank -%}
          	{{ associatedProduct2.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- else -%}
          	{{ associatedProduct2.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- endif -%}
        </div>
        <div class="select-container flex">  
           <div class="flex inline-flex">
              <div class="assoc-img" {% if associatedProduct2.title contains 'Powder' %}style="display:none;"{% endif %} >
                <img height="100" width="100" src="{{ associatedProduct2.featured_image | img_url: '512x', format: 'pjpg' }}" />
              </div> 
            </div>
            <select is="ms-dropdown" id="associatedProduct2-select" placeholder="Select {{ associatedProduct2.title }}:" class="dropdown w-full form-control-lg text-2xl gap-5" style="overflow-y: auto" onClick="tfAssociatedChange();" onChange="tfAssociatedChange();">
              {% if product.metafields.associated_products.associated-1-req != true %}
              <option value="false" data-price="0" data-vid="" data-image="" selected="selected">
                SELECT AN OPTION
              </option>
              {% endif %}
              {% if associatedProduct2.has_only_default_variant %}
              <option
                      value="{{ associatedProduct2.id }}"
                      class="associatedOption associatedProduct2Option" 
                      data-price="{{ associatedProduct2.price }}" 
                      data-sku="{{ associatedProduct2.sku }}" 
                      data-variantId="{{ associatedProduct2.id }}" 
                      data-image="{{ associatedProduct2.image | img_url: '512x', format: 'pjpg' }}" 
                      data-product-title="{{ associatedProduct2.title }}" 
                      data-variant_title="" 
                      onClick="tfAssociatedChange();" 
                      > 
                      {{ associatedProduct2.title }} {{ associatedProduct2.price | money | strip_html }}</option>
              {% else %}
              {%- for variant in associatedProduct2.variants -%}
              <option class="associatedOption associatedProduct2Option  {% if variant.title contains "Lo-Brow" %}loBrow{% endif %} {% if variant.title contains "Hi-Brow" %}hiBrow{% endif %}" 
                      value="{{ variant.id }}" 
                      data-variant_title="{{ variant.title | escape }}" 
                      data-product_title="{{ associatedProduct2.title | escape }}" 
                      data-variant_id="{{ variant.id }}" 
                      data-sku="{{ variant.sku }}" 
                      data-price="{{ variant.price }}" 
                      data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}" 
                >
                      ▸ {{ variant.title | escape }} +{{ variant.price | money }}
              </option>
              {%- endfor -%}
              {% endif %}
            </select>
      </div>
      {% endunless %}
      <!--/******************************************************************/-->
      <!--/*                      ASSOCIATED PRODUCT 3                      */-->
      <!--/******************************************************************/-->
      {% unless associatedProduct3 == blank %}
      <div id="tfAssociatedProduct3-wrapper" class="assoc-wrap">
        <div id="associatedProduct3Title" class="ass-tit text-3xl bold">
          {%- if associatedProduct3.metafields.global.display_name != blank -%}
          	{{ associatedProduct3.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- else -%}
          	{{ associatedProduct3.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- endif -%}
        </div>
           <div class="assoc-img">
        	<img height="100" width="100" src="{{ associatedProduct3.featured_image | img_url: '100x', format: 'pjpg' }}" />
           </div>
        <select is="ms-dropdown"  id="associatedProduct3-select" placeholder="Select {{ associatedProduct3.title }}:" class="dropdown w-full form-control-lg text-2xl gap-5" style="overflow-y: auto" onClick="tfAssociatedChange();" onChange="tfAssociatedChange();">
          {% if product.metafields.associated_products.associated-1-req != true %}
          <option value="false" data-price="0" data-vid="" data-image="" selected="selected">
          SELECT AN OPTION
          </option>
          {% endif %}
          {% if associatedProduct3.has_only_default_variant %}
          <option
                  value="{{ associatedProduct3.id }}"
                  class="associatedOption associatedProduct3Option" 
                  data-price="{{ associatedProduct3.price }}" 
                  data-sku="{{ associatedProduct3.sku }}" 
                  data-variantId="{{ associatedProduct3.id }}" 
                  data-image="{{ associatedProduct3.image | img_url: '512x', format: 'pjpg' }}" 
                  data-product-title="{{ associatedProduct3.title }}" 
                  data-variant_title="" 
                  onClick="tfAssociatedChange();" 
                  >
                  {{ associatedProduct3.title }} {{ associatedProduct3.price | money | strip_html }}</option>
          {% else %}
          {%- for variant in associatedProduct3.variants -%}
          <option class="associatedOption associatedProduct3Option" 
                  value="{{ variant.id }}" 
                  data-variant_title="{{ variant.title | escape }}" 
                  data-product_title="{{ associatedProduct3.title | escape }}" 
                  data-variant_id="{{ variant.id }}" 
                  data-sku="{{ variant.sku }}" 
                  data-price="{{ variant.price }}" 
                  data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}" 
                  >
                  ▸ {{ variant.title | escape }} +{{ variant.price | money }}
          </option>
          {%- endfor -%}
          {% endif %}
        </select>
      </div>
      {% endunless %}
      <!--/******************************************************************/-->
      <!--/*                    ASSOCIATED ACCENT PANELS                    */-->
      <!--/******************************************************************/-->
      {% unless associatedAccentPanels == blank %}
      <div id="tfAssociatedAccentPanels-wrapper" class="assoc-wrap">
        <div id="associatedAccentPanelsTitle" class="ass-tit text-3xl bold">
        {%- if associatedAccentPanels.metafields.global.display_name != blank -%}
          {{ associatedAccentPanels.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
        {% else %}
          {{ associatedAccentPanels.title | escape }}
        {% endif %}
        </div>
        <div class="select-container flex">
          <div class="flex inline-flex">
            <div class="assoc-img">
              <img height="100" width="100" src="{{ associatedAccentPanels.featured_image | img_url: '100x', format: 'pjpg' }}" />
            </div> 
          </div>
          <select id="associatedAccentPanels-select" placeholder="Select {{ associatedAccentPanels.title | escape }}:" class="dropdown w-full form-control-lg text-2xl gap-5" style="overflow-y: auto;" onClick="tfAssociatedChange();" onChange="tfAssociatedChange();">
            <option value="false" data-price="0" data-vid="" data-image="">
            SELECT AN OPTION
            </option>
            {%- for variant in associatedAccentPanels.variants -%}
            <option class="associatedOption associatedAccentPanelsOption" value="{{ variant.id }}" data-variant_title="{{ variant.title | escape }}" data-product_title="{{ associatedAccentPanels.title | escape }}" data-variant_id="{{ variant.id }}" data-sku="{{ variant.sku }}" data-price="{{ variant.price }}" data-image="{{ variant.image | img_url: "1024x1024" }}">
              ▸ {{ variant.title }} +{{ variant.price | money }}
            </option>
            {%- endfor -%}
          </select>
        </div>
      </div>
      {% endunless %}
      <!--/******************************************************************/-->
      <!--/*                      ASSOCIATED CHECKLIST                      */-->
      <!--/******************************************************************/-->
      {% if associatedChecklist != blank %}
      <div id="tfAssociatedChecklist-wrapper">
        <div id="associatedChecklistTitle" class="text-3xl bold">
          ADD ON's
        </div>
      {% for associatedProduct in associatedChecklist %}
        <fieldset class="associatedChecklist-FIELDSET js product-form__input variant-radios-fieldset radio-wrapper">
          <legend class="associatedChecklist-LEGEND form__label variant-radio-legend hidden">
            {{ associatedProduct.title }}
          </legend>
          <div class="grid grid-cols-2">
            {%- for variant in associatedProduct.variants -%}
            <div class="w-full align-center flex items-center justify-center">
              <input type="checkbox" id="associatedChecklist-{{ variant.id }}-{{ forloop.index0 }}" 
                     name="{{ variant.id }}" 
                     value="{{ variant.title | escape }}" 
                     onChange="tfAssociatedChange();" 
                    onClick="tfAssociatedChange();" 
                     form="{{ product_form_id }}" 
                     data-product_title="{{ associatedProduct.title | escape }}" 
                     data-variant_title="{{ variant.title | escape }}" 
                     data-sku="{{ variant.sku }}" 
                     data-price="{{ variant.price }}" 
                     data-variant_id="{{ variant.id }}" 
                     data-image="{{ variant.image | img_url: '512x', format: 'pjpg' }}" 
                     class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"
              checked
                     />
              <label class="associatedChecklist-LABEL variant-radios-label w-5/6 align-center justify-center" for="associatedChecklist-{{ variant.id }}-{{ forloop.index0 }}">                                                   
                <div id="optionCard" class="stuffNthangs flex flex-wrap items-center justify-center">
                  <div class="w-full align-center flex items-center justify-center">
                    <div>
                      <img src="{{ variant.image | img_url: '200x', format: 'pjpg' }}" width="200" height="200" loading="lazy" class="optionCardImage" />
                      <br />
                    </div>
                    <div>
                      {{ variant.title }}
                    </div>
                  </div>
                </div>
              </label>
            </div>
            {%- endfor -%}
          </div>
        </fieldset>
      </div>
      {% endfor %}
      {% endif %}
    </form> <!-- end associatedProductForm -->
  </div>
</div> <!-- end tfAssociatedProductsWrapper -->


<style>
  .affirm-as-low-as {
   /* display: none!important;*/
  }
  #checkbox .variant-radios-label {
    max-height:unset;
    padding: 1rem;
    max-width:100px;
    max-height:150px;
  }
  .checkboxes {
    position: absolute;
    margin: 80px 0 0 0;
    word-wrap: wrap;
    width: 85px;
    font-weight: 600;
  }
  #checkbox input {
    width: 20px;
    height: 20px;
    margin:50px 5px 0 30px;
  }
 
</style>