<link rel="stylesheet" type="text/css" href="https://www.marghoobsuleman.com/assets/mywork/web-components/image-dropdown/css/dd.css" />
<script src="https://www.marghoobsuleman.com/assets/mywork/web-components/image-dropdown/js/dd.min.js?ver=4.0.1"></script>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'option-selectors-custom.js' | shopify_asset_url | script_tag }}

<div class="multi-product-container all-variants-container w-full">   
    <div class="info-column">
        <form action="/cart/add" method="post" id="product_form_id" class="product-form__inputter">
            <div id="product-variants">
                  <div class="option-container flex justify-around block bg-gray-200" style="margin-top:0px;">
                      <div class="no-js-hidden " data-section="{{ section.id }}-{{ forloop.index0 }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                        {% for product in product.metafields.multi_product.array.value %}
                           <div class="option-label-">
                            {% comment %}{{ forloop.index }}{% endcomment %}  {{ product.title   | remove: "Compatible" | remove: "Ranger"  | remove: "Rockford Fosgate" | remove: "aluminum" | remove: "Polaris" | remove: "Can-Am" | remove: "-" | remove: "Maverick X3" | remove: "MAX" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }} Options
                           </div>                                                
                           <div class="options-container">
                              {%- for option in product.options_with_values -%}
                                  <div class="product-form__input--dropdown selector-wrapper variant-selects-option-container">
                                    <label class="form__label variant-selects-label text-center" for="tf-option-{{ forloop.index0 }}"">
                                      {{ option.name }}
                                    </label>
                                    <div class="select variant-selects-input-container">
                                      <select is="ms-dropdown"                                         
                                        name="options[{{ option.name | escape }}]"
                                        id="tf-option-{{ forloop.index0 }}"
                                        class="select__select variant-selects-select"
                                        data-image="{{ variant.image }}"
                                        form="product-variants-form"
                                      >                              
                                        {%- for value in option.values -%}
                                          <option 
                                            id="cc-dd" 
                                            value="{{ value | escape }}" 
                                            {% if option.selected_value == value %}selected="selected"{% endif %} 
                                            {% if value contains "Custom" %}class="customDraxx"{% endif %} 
                                          >
                                            {{ value }}
                                          </option>
                                        {%- endfor -%}
                                      </select>
                                      {% render 'icon-caret' %}
                                    </div>
                                  </div>
                                {%- endfor -%} 
                            </div>
                        {% endfor %}
                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      </div>
                   </div>
                  <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                      <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                        <label class="form__label text-center" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                        <div class="select">
                          <select is="ms-dropdown" name="id" id="Variants-{{ section.id }}" class="select__select variantSelect" form="{{ product_form_id }}">
                            {%- for variant in product.variant -%}
                              <option
                                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                                {% if variant.available == false %}disabled{% endif %}
                                value="{{ variant.id }}"
                                data-image="{{ variant.image }}" 
                                form="{{ product_form_id }}"
                                data-sku="{{ variant.sku }}" 
                                data-price="{{ variant.price | money | strip_html }}" 
                                {% if variant.title contains "Custom" %}class="customDraxx"{% endif %} 
                              >
                                {{ variant.title }}
                                {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                                - {{ variant.price | money | strip_html }}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                      </div>
                </noscript>
            <div {{ block.shopify_attributes }}>
                {%- form 'product', product, id: 'product-variants-form', class: 'product-form__input' -%}
                    {% for product in product_group %}
                      <input type="hidden" name="tf-option-{{ forloop.index0 }}" value="{{ product.selected_or_first_available_variant.id }}">
                    {% endfor %}
                    <input id="draxx" type="hidden" name="properties[Custom Color]" value="">
                    {{ form | payment_terms }}
                      xxxx<button
                            style="font-weight:700; font-size:2.2rem; font-family: 'Rajdhani', Roboto, Arial;"
                            type="submit"
                            name="add"
                            id="add-to-cart"
                            class="button-prod-page shadow-xl rounded-xl product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                          >    
                          <span>
                              {%- if product.selected_or_first_available_variant.available -%}
                                  {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                  {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                          </span>
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                      </button>
                {%- endform -%}
            </div>
            <div 
          </div> <!-- end all-variants-container -->
        </form>
    </div>
</div>
<!-- ADD-TO-CART-FORM -->
                            {%- form 'product', product, id: 'product-variants-form', class: 'form product-form product-form-form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" >
                              <div id="product-variants-form" class="product-form__buttons w-full">
<!-- ADD-TO-CART BUTTON -->
                 
                                        <script>                              
                                          	document.getElementById("all-variants-container").style.display = "none";
                                      	</script>
                                  		<h2 class="text-3xl">THIS PRODUCT IS AN OPTION FOR:</h2>
                                        {% assign realProduct = all_products[product.metafields.associated_products.not_intended_for_sale] | within: collection %}
                                  <span class="text-gray-400"><a href="./{{ realProduct.handle }}">{{ realProduct.title }}</a></span>
                           {% endform %}

 {% assign productList = product.metafields.multi_product.array.value %}
    {% for product in productList %}
      {{ value }}
    {% endfor %}
                        
<script>
function makeDd() {
        'use strict';
        //get the data from above json string
        let json = new Function(`return ${document.getElementById('json_data').innerHTML}`)();
        //clean the holder
        document.getElementById("json_dropdown").innerHTML = "";

        //convert to msDropdown
        MsDropdown.make("#json_dropdown", {
            byJson: {
                data: json, selectedIndex: 0, name: "json_dropdown",
                size: 0, multiple: false, width: 450
            },
            enableAutoFilter:true
        });
        //or we can use like this too.
        /*new MsDropdown(document.getElementById("json_dropdown"), {
            byJson: {
                data: json, name: "json_dropdown"
            }
        });*/
    }
</script>

<style>
  .multi-button {
        margin-top: 20px;
        padding: 15px;
        background-color: rgb(185, 28, 28);
        color: #ffffff;
        font-size: 2.2rem;
        width: 100%;
        text-align: center;
        font-family: "Rajdhani";
        font-weight: 700;
        border-radius: 10px;
    }
    .selector-wrapper {
      font-weight:bold; 
    }
    .option-container { width: fit-content; margin: auto; }
    @media and screen (min-width: 950px) {
      .option-container { width: 100vw; margin: auto; }
    }
     @media and screen (min-width: 750px) {
      .option-container { width: 100vw; }
    }
    .option-label {
        background-color: #333;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-left: 0px;
        padding-left: 1rem;
        text-transform: uppercase;
        font-family: "Rajdhani"; 
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem; 
        line-height: calc(1 + .5 / var(--font-body-scale));
        letter-spacing: .04rem;  
        width: 100%;
    }
    .single-option-selector { font-size:1.5rem; font-family:"Rajdhani"; }
    .multi-button #alttext-image img { display:inline !important;}
    .options-container { display: inline-flex; padding: 1rem 0 1.2rem 0; width: 100vw; margin: auto; }
    .select { padding: 0 1rem; }
    .select__select { font-size: 0.8rem; }
    .variant-selects-select { border-radius: 5px; height: 40px; background-color: #fff; box-shadow: .2rem .2rem 3px #ddd; }
    .select .icon-caret, .customer select + svg { height: 0.3rem; }
  
</style>



          
 