{%   assign associates = product.metafields.associated_products.associated-1.value, product.metafields.associated_products.associated-2.value, product.metafields.associated_products.associated-3.value, product.metafields.associated_products.accents.value, product.metafields.associated_products.checklist.value | split:','
%}

{% assign associatedChecklistList = product.metafields.associated_products.checklist_list.value   %}
{% assign associatedProduct1 = associates.forloop.index0 %}
{% for associatedProduct in associates %}

<div id="tfAssociatedProductsWrapper" class="associated-product-variants">
  <div class="pl-4 w-full">
    <form id="associatedProductForm" class="product-form">  
<!-- ORIGINAL PRODUCT 1 DROPDOWN -->
       <div class="no-js-hidden assoc-wrap" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              <!-- <div class="option-label ass-tit text-3xl bold">{{ product.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }} Options</div> 
               -->
               <div class="options-container flex">
                  {%- for option in product.options_with_values -%}
                      <div class=" text-left">
                        <label class="text-left block ass-tit text-3xl bold" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                          {{ option.name }}
                        </label>
                        <div class="select ">
                          <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            class="dropdown w-full form-control-lg text-2xl gap-5" 
                            name="options[{{ option.name | escape }}]"
                            form="{{ product_form_id }}"
                            onClick="tfAssociatedChange();" 
                            {% if value contains "Custom" %}modal-open{% endif %}
                          >
                            { {%- for value in option.values -%}
                           <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %} {% if value contains "custom" %}class="customDraxx"{% endif %} >
                             {% if value contains "Color" %}{{ product.type | split: '' | remove_last }}{% endif %} {{ value }}
                            </option>
                          {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                      </div>
                    {%- endfor -%} 
                </div>
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
            </div>
      <!--******************************************************************/-->
      <!--*                      ASSOCIATED PRODUCT 1                      */-->
      <!--******************************************************************/-->                          
      {% if associatedProduct1 != blank %}
      <div id="tfAssociatedProduct1-wrapper" class="assoc-wrap">
        <div id="associatedProduct1Title" class="ass-tit text-3xl bold">
          {%- if associatedProduct1.metafields.global.display_name != blank -%}
          	{{ associatedProduct1.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- else -%}
          	{{ associatedProduct1.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
          {%- endif -%}
        </div>
        
          
 {% case associatedProduct1  %}
<!-- ASSOCIATED PRODUCT 1 DROPDOWN -->
        	{% when 'DROPDOWN' %}          
            <div class="select-container flex">
                    
              <div class="flex inline-flex" style="display:none;">
                <div class="assoc-img">
              	<img height="100" width="100" src="{{ associatedVariant.image | img_url: "100x100" }}" />
                </div> 
              </div>
              <!--name="webmenu" is="ms-dropdown"-->
              <select  id="associatedProduct1-select" name="webmenu" is="ms-dropdown" placeholder="{{ associatedProduct1.title }}:" class="dropdown w-full form-control-lg text-2xl gap-5" style="overflow-y: auto" onChange="tfAssociatedChange();">
                 {% if associatedProduct1-req != true %}
                  <option value="" data-price="0" data-vid="" data-image="">
                 
                  <span style="text-2xl">{% if associatedVariant.title contains "Warn" %}ADD A WINCH{% else %}SELECT AN OPTION{% endif %}</span> ▾{% render 'icon-caret' %}
                 
                  </option>
                  {% endif %}
                {% if associatedProduct1.has_only_default_variant %}                  
                <option
                        value="{{ associatedProduct1.id }}" 
                        class="associatedOption associatedProduct1Option" 
                        data-price="{{ associatedProduct1.price }}" 
                        data-sku="{{ associatedProduct1.sku }}" 
                        data-variantId="{{ associatedProduct1.id }}" 
                        data-image="{{ associatedProduct1.image | img_url: "100x" }}" 
                        data-product-title="{{ associatedProduct1.title }}" 
                        data-variant_title=""	
                        onClick="tfAssociatedChange();" 
                        >{{ associatedProduct1.title }} {{ associatedProduct1.price | money | strip_html }}<br>{{  associatedProduct1.description }}</option>
                {% else %}
                {%- for associatedVariant in associatedProduct1.variants -%}              
                   <script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/msdropdown/jquery-1.3.2.min.js" type="text/javascript"></script>
                    <script src="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/js/dd.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/ms-dropdown@4.0.3/dist/css/msdropdown/dd.css" />
                 <style> .ms-options { display: block; } </style>
                <option class="associatedOption associatedProduct1Option" 
                        value="{{ associatedVariant.id }}" 
                        data-variant_title="{{ associatedVariant.title | escape }}" 
                        data-product_title="{{ associatedProduct1.title | escape }}" 
                        data-variant_id="{{ associatedVariant.id }}" 
                        data-sku="{{ associatedVariant.sku }}" 
                        data-price="{{ associatedVariant.price }}" 
                        data-image="{{ associatedVariant.image | img_url: "100x" }}"
                        onClick="tfAssociatedChange();">
                  ▸ {{ associatedVariant.title }} +{{ associatedVariant.price | money }}<br>{{  associatedProduct1.description }}
                </option>
                {%- endfor -%}
                {% endif %}
              </select>
            </div>
            
<!-- ASSOCIATED PRODUCT 1 CHECKBOX -->
        	{% when 'CHECKBOX' %}
           <div id="checkbox" class="w-full flex p-2 pr-5">
                  	<!--<img height="100" width="100" src="{{ associatedProduct1.featured_image | img_url: "100x" }}" />-->
					{%- for associatedVariant in associatedProduct1.variants -%}
                      <input type="checkbox" id="associatedChecklist-{{ associatedProduct1.id }}-{{ forloop.index0 }}" 
                             name="{{ associatedVariant.id }}" 
                             value="{{ associatedVariant.title | escape }}" 
                             onChange="tfAssociatedChange();" 
                             onClick="tfAssociatedChange();" 
                             form="{{ product_form_id }}" 
                             data-product_title="{{ associatedProduct1.title | escape }}" 
                             data-variant_title="{{ associatedVariant.title | escape }}" 
                             data-sku="{{ associatedVariant.sku }}" 
                             data-price="{{ associatedVariant.price }}" 
                             data-variant_id="{{ associatedVariant.id }}" 
                             data-image="{{ associatedVariant.image | img_url: "1024x1024" }}" 
                             class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"                      
                             />
                      <label class="associatedChecklist-LABEL variant-radios-label align-center justify-center" for="associatedChecklist-{{ associatedVariant.id }}-{{ forloop.index0 }}">                                                   
                        <div id="optionCard" class="stuffNthangs flex flex-wrap items-center justify-center">
                          <div class="w-full h-full align-center p-2 flex items-center justify-center" style="flex-direction:column">
                            <div>
                              <img src="{{ associatedVariant.image | img_url: "96x" | format: 'pjpg' }}" width="96" height="96" class="optionCardImage" style="max-width:unset;" />
                              <br />
                            </div>
                             <div class="checkboxes">
                              {{ associatedVariant.title }}
                            </div>
                          </div>
                        </div>
                      </label>
                  {% endfor %}
                </div>
<!-- ASSOCIATED PRODUCT 1 RADIO -->
        	{% when 'RADIO' %}
        		<fieldset class="fieldset js product-form__input radio-wrapper variant-radios-fieldset">
                  <img height="100" width="100" src="{{ associatedProduct1.featured_image | img_url: "100x" }}" />
                	<legend class="form__label variant-radio-legend w-full p-1">{{ associatedProduct1.title }}</legend>
                  		<input type="radio" id="none-radio"
                                 name="{{ associatedProduct1.id }}"
                                 value="false"
								 data-product_title="" 
                             	 data-variant_title="" 
                                 data-sku="" 
                                 data-price="0" 
                                 data-variant_id="" 
                                 data-image="" 
                                 onClick="tfAssociatedChange();" 
                                onChange="tfAssociatedChange();" 
                                 class="associatedChecklist-INPUT associatedChecklistOption variant-radios-input"
                         >
                            <label class="variant-radios-label" for="none-radio">
                              None
                            </label>
          			{%- for associatedVariant in associatedProduct1.variants -%} 			                  
                          <input type="radio" id="{{ associatedVariant.id }}-radio"
                                 name="{{ associatedProduct1.id }}"
                                 value="{{ associatedVariant.id | escape }}"
								 data-product_title="{{ associatedProduct1.title | escape }}" 
                             	 data-variant_title="{{ associatedVariant.title | escape }}" 
                                 data-sku="{{ associatedVariant.sku }}" 
                                 data-price="{{ associatedVariant.price }}" 
                                 data-variant_id="{{ associatedVariant.id }}" 
                                 data-image="{{ associatedVariant.image | img_url: "1024x1024" }}" 
                                 onClick="tfAssociatedChange();" 
                                 onChange="tfAssociatedChange();" 
                                 class="associatedChecklist-INPUT associatedOption associatedChecklistOption variant-radios-input"
                                 >
                            <label class="variant-radios-label" for="{{ associatedVariant.id }}-radio">
                              {{ associatedVariant.title }} {{ associatedVariant.price | money | strip_html }}
                            </label>
                        {%- endfor -%}
                      </fieldset>
        {% endcase %}
      </div>{% endif %}
      {% endfor %}
    </form>
  </div>
</div>
  