<link rel="stylesheet" href="{{ 'component-rating.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
<!-- JAVASCRIPT NONSENSE -->
<script type="text/javascript">
/**********************************************************************/
/* swapImage function                                                 */
/* accepts http src of image youn would like to swap the main img for */
/* swaps the main product image with the one sent to the function     */
/**********************************************************************/
 var oldImage = "";
function swapImage(sent_img_src) {
  var firstIMG = $(".is-selected").find('img:first');
  if (sent_img_src) {
  	oldImage = firstIMG.attr("src");
  	firstIMG.attr("src", sent_img_src);
  } else {
    firstIMG.attr("src", oldImage);
    oldImage = "";
  }
};
function swapFlickity(optionClass) {
     flkty.select($(optionClass).index());
	 tfupdatePrice();
};
    var accentColor = "Jewel Grey";
    function tfupdateSKU(newSKU) {
    document.getElementById('sku-wrapper').innerHTML = "SKU:" + newSKU;
    {%- if product.metafields.global.has_accents.value == true -%}
    document.getElementById('stock_accent_info').innerHTML = "This products ships stock with '"+ accentColor + "' accent panels";
      {%- endif -%}
  }
   var product_variant_map = {};
  {% for variant in product.variants %}
    product_variant_map["{{ variant.id }}"] = {{ variant | json }};
  {% endfor %}
  /*************************************************************/
  /* ADDED FOR KLAVIO VIA INSTRUCTIONS ON THIER APP SETUP      */
  /*************************************************************/
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title | json }},
    ProductID: {{ product.id | json }},
    Categories: {{ product.collections | map:'title'| json }},
    ImageURL: "https:{{ product.featured_image.src | img_url: 'grande', format: 'pjpg' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor | json }},
    Price: {{ product.price | money | json }},
    CompareAtPrice: {{ product.compare_at_price_max | money | json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<style>
  .itoris-dynamicoptions-swatch_html {
    font-weight:bold;
    font-family:"Rajdhani";
    color:#000;
    text-align:center;
   /*height:155px!important;
    width:120px!important;*/
    padding-top:5px;
    border-radius:5px;
  }
  .buy-now-button {
  	font-family: "Rajdhani";
    font-weight: 700;
    font-size:12px;
    color: #FFF;
  }
  variant-radios, variant-selects {
    margin: 0.7rem 0.5rem 0.2rem 0;
    padding: 0.8rem 0rem 0.8rem 0px !important;
    border-left: 3px solid #0fa0ea!important;
    border-style: groove !important;
    letter-spacing: 0.1rem;
    border-top-right-radius:10px;
    line-height: 1;
    background-color: #efefef;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
  .admin__field-label:first-child  {
    background-color: transparent !important;
  }
  .dpo-container {
    display: none !important;
    margin: 0.7rem 0rem 0.2rem 0;
    padding: 0rem 1.5rem 0.8rem 12px !important;
    border-left: 3px solid #0fa0ea;
    border-style: groove !important;
    border-bottom-right-radius:10px;
    letter-spacing: 0.1rem;
    line-height: 1;
    box-shadow:0px 0px 10px #efefef;
    background-color: #efefef;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
  .dpo-container img {
    margin: 0 !important;
  }
  .product-custom-option {
    width: 500px; 
  }
  #itoris_dynamicproductoptions li.fields div.field .choice {
    width: auto;
    display: inline-flex;
    align-items: flex-start; 
    padding:5px;
  }
  #itoris_dynamicproductoptions select {
     min-width: 200px; 
  }
   .checkbox {
    background: transparent !important;
   }
  .fields checkbox {
    display: grid;
    background: transparent !important;
    border: 0px;
    width: 200px;
  }
  #itoris_dynamicproductoptions .form-list .field .control .input-text.option-qty, .itoris_dynamicproductoptions .form-list .field .control .input-text.option-qty {
    width: 40px;
    text-align: -webkit-center;
    margin: 3px 0px 3px 5px;
    padding: 4px;
  }
  .variant-radio-legend, .field {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-transform:uppercase;
    font-size: 1.2rem!important;
    font-family: "Rajdhani"!important;
    font-style: normal!important;
    line-height:1!important;
  }
  variant-radios {
    margin-bottom:10px; 
  }
  .variant-radios-input .variant-radios-label {
    font-family: "Rajdhani"!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size:1.2rem;
    background-color:#fff;
    color:#000;
  }
  .variant-radios-label, .admin__field-label {
    background-color:#fff; 
    border-radius: 5px;
    padding: 0.8rem 1rem;
    border: 2px solid #ccc;
    font-size:1.5rem!important;
    max-height:75px;
  }
  #itoris_dynamicproductoptions img {
    max-width: 100px;
  }
  .itoris-dynamicoptions-thumbnail-image {
    background-color:transparent; 
    margin: 0.7rem 0.5rem 0.2rem 0!important;
    padding: 0!important;
    border: 2px solid #ccc!important;
    font-size:1.5rem!important;
    max-height:100px;
    max-width:100px;
  }
  .product-form__input input[type=radio]+label  {
    border-radius: 5px!important;
    border: 2px solid #ccc;
  }
  .product-form__input input[type=radio]+label {
   font-family: "Rajdhani"!important;
   font-style: normal!important;
   font-weight: normal!important;
   font-size:1.5rem;
  }
  .product-form__input input[type=radio]:checked+label, .field input[type='radio']:checked + label{
   font-family: "Rajdhani"!important;
   font-style: normal!important;
   font-weight: normal!important;
   font-size:1.5rem;
  }
  .dpo_swatch {
    width: 75px!important; 
    height: 75px!important;
    border-radius: 5px; 
  }
  .dpo_swatch a:hover {
    border: 2px solid red;
  }
  .itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ img, .itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ .itoris-dynamicoptions-thumbnail-color, .itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ .itoris-dynamicoptions-swatch_html {
    border:2px solid red!important;
    color:#000;
  }
  #dpo-container .field {
    display:contents;
  }
  #itoris_dynamicproductoptions tr.fields td div.field, #itoris_dynamicproductoptions li.fields div.field, .itoris_slider_group .itoris_dynamicproductoptions div.field  {
    font-size: 1.5rem!important; 
    text-align: left;
    display: inline-flex;
    flex-direction: column;
  }
  #itoris_dynamicproductoptions tr {
    border:0px;
  } 
  #itoris_dynamicproductoptions table.form-list, #itoris_dynamicproductoptions table.form-list, #itoris_dynamicproductoptions table.form-list, .itoris_dynamicproductoptions table.form-list {
    width: auto;
  }
  .featured-image-section {
    height:auto;
  }
  .bigIMG {
    place-content:center;
  }
  .product__image-slider {
    text-align:-webkit-center;
  }
  .product__image-slider img {
    max-width:800px;
  }
  .bundle-aggregated_reviews {
    display:inline-block!important;
    padding:0 5px 0 0!important;
  }
  .thumby {
    cursor: pointer;
    width:200px!important;
  }
  .product-make-and-model {
    color: #0fa0ea;
    font-family: "Rajdhani";
    font-weight: 500;
    letter-spacing: -0.8px;
  }
  .product-make-and-model a {
    color: #0fa0ea;
    text-decoration:none;
  }
  .product-make-and-model a:hover {
    color: #0fa0ea;
    text-decoration:underline;
  }
  .product-price {
    color: #000000;
    font-family: "Rajdhani" !important;
    font-weight: 700;
    letter-spacing: -0.8px;
    font-size: 2.5rem;
    padding-bottom:2rem;
    padding-top:2rem;
   }
  .add-to-cart-button,#itoris_dynamicproductoptions_add_to_cart, .add-to-cart {
    font-family: "Rajdhani" !important;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    text-decoration: none;
    border: 0.1rem solid transparent;
    border-radius: 5px;
    background-color:#ca0000!important;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
    color: rgb(var(--color-button-text));
    transition: box-shadow var(--duration-short) ease;
  }
  #itoris_dynamicproductoptions_popup .admin__field-label {
    border:2px solid transparent!important;
 }
   #itoris_dynamicproductoptions .field:not(.dpo_swatch) > label:first-child {
    font-weight:700; 
    font-size:2rem;
  }
  #itoris_dynamicproductoptions_popup_button_apply span span, button.itoris_dynamicproductoptions_popup_button_apply span span, #itoris_dynamicoptions_add_to_cart span span, .itoris_dynamicoptions_add_to_cart span span {
    background-color:#ca0000!important;
    background:#ca0000!important;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0px!important;
    font-size: 2rem;
    line-height: 1;
 }
  #itoris_dynamicproductoptions_popup_button_cancel,#itoris_dynamicproductoptions_popup_button_cancel span span  {
    float: left;
    margin: 0px;
    background-color:#0fa0ea!important;
    background:#0fa0ea!important;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 2rem;
    line-height: 1;
 }
  #itoris_dynamicproductoptions_popup label[for="qty"],#itoris_dynamicoptions_qty {
    display: none;
  }
  #itoris_dynamicproductoptions_popup_price .price {
    line-height: 22px;
    font-family: "Rajdhani";
    font-size: 2rem;
    color: #000;
  }
  .button-prod-page {
    width:100%; 
    height:55px;
  }
   .thumbs-cell {
    display:none;
  }
  #itoris_dynamicproductoptions_popup .popup-title, .itoris_dynamicproductoptions_popup .popup-title {
    text-align: center;
    font-weight:semibold;
    font-family:"Rajdhani";
    font-size:3rem;
  }
  #itoris_dynamicproductoptions_popup_price * {
    margin: 0;
    padding: 0;
    display: none;
  }
  @media screen and (min-width:950px) {
    .thumbs-cell {
      display:inline-block;
    }
  }
  @media screen and (min-width:750px) {
    .thumbs-cell {
      display:inline-block;
    } 
  }
  .bigIMG-hover-zoom--point-zoom:hover img {
    cursor: zoom-in;
    transform:scale(5);
    -ms-transform:scale(5); /* IE 9 */
    -moz-transform:scale(5); /* Firefox */
    -webkit-transform:scale(5); /* Safari and Chrome */
    -o-transform:scale(5); /* Opera */
  }
  .cage-option {
    padding:0.5rem 1rem!important; 
    font-size:1.5rem!important;
  }
  .summary ul {
    margin: 0 0 0 20px;
    list-style:disc; 
  }
  .rf-inline {
    width:200px;
    opacity:80%;
    padding-right:5px;
    padding-bottom:10px;
    display:inline-block;
  }
  #itoris_dynamicproductoptions table.form-list div.field div {
    margin: 0 0px 0 0px;
    display: flex;
    flex-wrap:wrap;
  }
  .dpo-thumb {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 5px; 
  }
  .carousel-cell img {
    border-radius: 10px;
  }
  #itoris_dynamicproductoptions div.dpo_dd_list .dpo_dd_list_preview img {
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
  *::before, *::after selected {
    color: black!important;
  }
   #ProductInfo-Wrapper { margin-top:0; }
    @media only screen and (max-width: 749px) {
      #ProductInfo-Wrapper { margin-top:0; }
    }
    @media only screen and (max-width: 950px) {
      #ProductInfo-Wrapper { margin-top:-100px; }
    }
</style>
<!-- END DETECT BRAND IN URL -->
{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- assign productPictures = product.media | where: "media_type", "image" -%}
{%- if first_3d_model -%}
{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
 
<section class="page-section w-7/8 lg:w-7/8 md:w-7/8 sm:w-7/8 mx-5">
    <div class="flex-col lg:flex-row md:flex-row sm:flex-col flex flex-shrink justify-center mt-10 md:mt-10 lg:mt-10">
<!-- IMAGE VIEWER -->
<!-- LARGE IMAGE FLICKITY -->
      <div id="product-gallery" class="w-full lg:w-3/7 md:w-3/5 sm:w-full media-section">
            <div id="bigIMG" class="carousel product__image-slider" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0" >
              {%- liquid
                assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
                assign media_count = product.media.size
                if section.settings.hide_variants
                  assign media_count = media_count | minus: variant_images.size | plus: 1
                endif
              -%}
                {%- for media in product.media -%}
                    {% unless media.alt contains "variant" or media.alt contains "lifestyle" %}
                        <div id="product-image-{{ forLoop.index }}" class="carousel-cell bigIMG">
                            {% if media.media_type == "video" %}
                                {{ media | media_tag: image_size: "720x", autoplay: true, loop: loop, controls: true, preload:"none", autoplay: true, height: "100%", width: "100%" }}
                            {% else %}                               
      							 <img srcset="{%- if media.width >= 165 -%}{{ media | image_url: width: 165 }} 165w,{%- endif -%}
                                              {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                                              {%- if media.width >= 535 -%}{{ media | image_url: width: 535 }} 535w,{%- endif -%}
                                              {%- if media.width >= 750 -%}{{ media | image_url: width: 750 }} 750w,{%- endif -%}
                                              {%- if media.width >= 1070 -%}{{ media | image_url: width: 1070 }} 1070w,{%- endif -%}
                                              {%- if media.width >= 1500 -%}{{ media | image_url: width: 1500 }} 1500w,{%- endif -%}
                                              {{ media | image_url }} {{ media.width }}w"
                                      src="{{ media | image_url: width: 720 }}"
                                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
                                      alt="{{ media.title | escape }}"
                                      width="{{ media.width }}"
                                      height="{{ media.height }}"
                                      data-media-id="{{ media.id }}"
                                      >                     
                            {% endif %}
                        </div>      
                    {% endunless %}
                {%- endfor -%}
            </div>
        	
<!-- THUMBS FLICKITY --> 
        	{%- liquid
                assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
                assign media_count = product.media.size
                if section.settings.hide_variants
                  assign media_count = media_count | minus: variant_images.size | plus: 1
                endif
              -%}
            {% if product.images.size > 1 %}
                <div class="carousel product__image-thumbnail mt-10 mb-10 thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}" data-target="{{ section.id }}-{{ media.id }}" data-media-position="{{ media.media_index }}">
                    {%- for media in product.media -%}
                    	{% unless media.alt contains "lifestyle" %}
                            <div class="carousel-cell pb-5">
                               <button class="thumbnail global-media-settings global-media-settings--no-shadow {% if media.preview_image.aspect_ratio > 1 %}thumbnail--wide{% else %}thumbnail--narrow{% endif %}"
                      aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                      aria-current="true"
                      aria-controls="GalleryViewer-{{ section.id }}"
                      aria-describedby="Thumbnail-{{ section.id }}-0"
                    />                   
                              <img data-flickity-lazyload-srcset="{%- if media.width >= 165 -%}{{ media | image_url: width: 165 }} 165w,{%- endif -%}
                                              {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                                              {%- if media.width >= 535 -%}{{ media | image_url: width: 535 }} 535w,{%- endif -%}
                                              {%- if media.width >= 750 -%}{{ media | image_url: width: 750 }} 750w,{%- endif -%}
                                              {%- if media.width >= 1070 -%}{{ media | image_url: width: 1070 }} 1070w,{%- endif -%}
                                              {%- if media.width >= 1500 -%}{{ media | image_url: width: 1500 }} 1500w,{%- endif -%}
                                              {{ media | image_url }} {{ media.width }}w"
                                      data-flickity-lazyload-src="{{ media | image_url: width: 720 }}"
                                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 1024px) calc(50vw - 130px), calc(50vw - 55px)"
                                      alt="{{ media.title | escape }}"
                                      width="{{ media.width }}"
                                      height="{{ media.height }}"
                                      data-media-id="{{ media.id }}"
                                      class="thumbs-cell rounded-xl thumbs"
                                      >              
                            </div>
                        {% endunless %} <!-- unless media.alt contains "lifestyle" -->
                    {%- endfor -%} <!-- for media in product.media -->             
                </div>
          {% endif %} <!-- if product.images != null -->
      </div> <!-- end media section -->
<!-- PRODUCT INFORMATION -->
    <div id="ProductInfo-{{ section.id }}" class="product-information-section sm:w-full md:w-2/5 lg:w-4/7 mt-0 mx-0 lg:mx-10 justify-center mt-5">
		<div id="ProductInfo-Wrapper" class="ml-1 md:mt-8 lg:mt-10">
        	{%- assign product_form_id = 'product-form-' | append: section.id -%}
        	{%- for block in section.blocks -%}
            	{%- case block.type -%}
                  {%- when '@app' -%}
                  	{% render block %}
<!-- TEXT -->
          			{%- when 'text' -%}
                      <p class="product__text">
                        {{- block.settings.text -}}
                      </p>
<!-- MAKE/MODEL -->
                  	{%- when 'title' -%}          			
                      <span class="product-make-and-model text-3xl">
                        <a href="https://thumperfab.com/collections/{{ product.metafields.global.make | downcase }}">
                          {{ product.metafields.global.make | upcase | escape }}
                        </a>
                        {% if product.metafields.global.make != "Universal" %} / 
                          <a href="https://thumperfab.com/collections/{{ product.metafields.global.make | downcase }}/{{ product.metafields.global.product_model }}">
                            {{ product.metafields.global.product_model | upcase | escape }}
                          </a>
                        {% endif %}
                      </span>
<!-- TITLE -->          
                      <h1 class="product__title text-6xl pt-3 pb-2" {{ block.shopify_attributes }}>
                      	{%- if product.metafields.global.display_name != blank -%}
          		  			{{ product.metafields.global.display_name | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
            			{%- else -%}
          		    		{{ product.title | remove: "Rockford Fosgate" | remove: "Polaris" | remove: "Can-Am" | remove: "Honda" | remove: "Tracker" | remove: "Yamaha" | remove: "Warn" | remove: "KFI" | escape }}
            			{%- endif -%}
          			</h1>          			
                  {%- assign current_variant = product.selected_or_first_available_variant -%}
                    <div class="type-sku inline">                       
                      <span id="category-meta" class="text-2xl raj uppercase">
                        <span class="font-semibold">TYPE:</span> <a href="https://thumperfab.com/collections/{{ product.metafields.global.category.value }}">
                        {{ product.metafields.global.category.value }}</a></span> &nbsp;&nbsp;&nbsp; 
                      <span id="sku-wrapper" class="text-2xl raj uppercase">
                        <span class="font-semibold">SKU:</span> {{ product.selected_or_first_available_variant.sku }}</span>
                      {% if product.vendor contains "Rockford" %}
                      <br>
                      <span class="text-xl">Featuring</span>
                      <br><img src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RF_logo_black.png?v=1613785680" class="rf-inline" loading="lazy"/>
                      {% endif %}
                    </div>
          			{% if product.metafields.global.summary %}
          			<div class="summary text-2xl raj pt-5">
                      {{ product.metafields.global.summary }} <a href="#product-description">(read more)</a>
          			</div>
          			{% endif %}
<!-- DESCRIPTION -->
          			{%- when 'description' -%}
                      {%- if product.description != blank -%}
                          <div class="product__description rte">
                            {{ product.description }}
                          </div>
                      {%- endif -%}
  <!-- COLLAPSIBLE TAB -->
          			{%- when 'collapsible_tab' -%}
                      <div class="product__accordion accordion" {{ block.shopify_attributes }}>
                        <details>
                          <summary>
                            <div class="summary__title">
                              {% render 'icon-accordion', icon: block.settings.icon %}
                              <h2 class="h4 accordion__title">
                                {{ block.settings.heading | default: block.settings.page.title }}
                              </h2>
                            </div>
                            {% render 'icon-caret' %}
                          </summary>
                          <div class="accordion__content rte">
                            {{ block.settings.content }}
                            {{ block.settings.page.content }}
                          </div>
                        </details>
                      </div>
<!-- POPUP -->
          			{%- when 'popup' -%}
                      <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                        <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
                      </modal-opener>
                      <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
<!-- SHARE -->
          			{%- when 'share' -%}
                      <share-button class="share-button" {{ block.shopify_attributes }}>
                        <button class="share-button__button button button--tertiary hidden">
                          {% render 'icon-share' %}
                          {{ 'general.share.share' | t }}
                        </button>
                        <details>
                          <summary class="share-button__button button button--tertiary">
                            {% render 'icon-share' %}
                            {{ 'general.share.share' | t }}
                          </summary>
                          <div class="share-button__fallback">
                            <div class="field">
                              <input type="text" class="field__input" id="url" value="{{ shop.url | append: product.url }}" placeholder="{{ 'general.share.share_url' | t }}" onclick="this.select();" readonly />
                              <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                            </div>
                            <button class="button button--tertiary">
                              {% render 'icon-clipboard' %}
                              {{ 'general.share.copy_to_clipboard' | t }}
                            </button>
                            <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                              {{ 'general.share.success_message' | t }}
                            </span>
                          </div>
                        </details>
                      </share-button>
                      <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
<!-- TF VARIANT PICKER -->
          			{%- when 'tf_variant_picker' -%}
          				<span></span>
<!-- VARIANT PICKER -->
          {%- when 'variant_picker' -%}
			<div>
            {%- unless product.has_only_default_variant -%}
              <div id="all-variants-container" class="mb-5">
              {%- if block.settings.picker_type == 'button' -%}
                <!-- VARIANT RADIOS -->
                <variant-radios class="no-js-hidden variant-radios" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                  <fieldset class="fieldset js product-form__input radio-wrapper variant-radios-fieldset">
                    <legend class="form__label variant-radio-legend w-full p-1 text-2xl bold">{{ option.name }}</legend>                  
                    {% if product.metafields.global.has_accents.value == true %}<div id="stock_accent_info" class="text-xl raj text-black italic"></div>{% endif %}
                    {%- for value in option.values -%}
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    <!--  onClick="tfupdateSKU('{{ current_variant.sku }}');{% if option.name == "Color" and product.metafields.global.has_accents.value == true %}accentColor = '{{ value | escape | replace: 'Black', 'Jewel Grey' | remove: ' (- $100)' }}';{% endif %}"; -->
                    <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                           name="{{ option.name }}"
                           value="{{ value | escape }}"
                           form="{{ product_form_id }}"
                           aria-expanded="false"
                           {% if option.selected_value == value %}checked{% endif %}
                           class="variant-radios-input"
                           >
                    {%- if forloop.last -%}
                    <label id="cc-dd" class="variant-radios-label" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                      {{ value }}
                    </label>
                    {%- else -%}
                    <label class="variant-radios-label" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                      {{ value }}
                    </label>               
                    {%- endif -%}                
                    {%- endfor -%}
                  </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
            {%- else -%}
<!-- VARIANT SELECTS -->
                <variant-selects class="no-js-hidden variant-selects" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown selector-wrapper variant-selects-option-container">
                      <label class="form__label variant-selects-label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select variant-selects-input-container">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select variant-selects-select"
                          name="options[{{ option.name | escape }}]"
                          form="{{ product_form_id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
          	</div>
            {%- endunless -%}
            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select variantSelect" form="{{ product_form_id }}">
                    {%- for variant in product.variant -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                        data-image="{{ variant.image }}" 
                        data-sku="{{ variant.sku }}" 
                        data-price="{{ variant.price | money | strip_html }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
            <div {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
              {%- endform -%}
            </div>
          </div> <!-- end all-variants-container -->
                  {% render 'custom-colors' %}
                  {%- when 'associated_product' -%}
                  {% render 'associated-product' %}
<!-- QUANTITY SELECTOR -->
                  {%- when 'quantity_selector' -%}
              <div
                class="radio-wrapper product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %} variant-radio-legend"
                {{ block.shopify_attributes }}
              >
                <label class="form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>

                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>                  

<!-- PRICE -->
          			{%- when 'price' -%}
                      {% if 'price' > '0' %}
                      <div class="product-price" id="price-wrapper" {{ block.shopify_attributes }}>
                        {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                      </div>
                      {% endif %}
<!-- BUY BUTTONS -->
                  {%- when 'buy_buttons' -%}
                      	<div {{ block.shopify_attributes }}>
                          <product-form class="product-form" data-cart-type="{{ settings.cart_type }}">
                            <div class="product-form__error-message-wrapper" role="alert" hidden>
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"/>
                              </svg>
                              <span class="product-form__error-message"></span>
                            </div>
						{%- if product.metafields.associated_products.not_intended_for_sale == blank -%}
<!-- ADD-TO-CART-FORM -->
                          
                            {%- form 'product', product, id: product_form_id, class: 'form product-form-form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" >
                              <div id="prod-form" class="product-form__buttons w-full">
                              <!-- AFFIRM MESSAGE -->
		  <div id="affirm-as-low-as" class="affirm-as-low-as pt-5 pb-2 text-center" style="font-size:1.8rem;" data-amount="{{ product.price }}"></div>
<!-- ADD-TO-CART BUTTON -->
                                    <button
                                      style="font-weight:700; font-size:2.2rem; font-family:'Rajdhani';"
                                      type="submit"
                                      name="add"
                                      id="add-to-cart"
                                      class="button-prod-page shadow-xl rounded-xl product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                    >    
                                        <span>
                                            {%- if product.selected_or_first_available_variant.available -%}
                                                {{ 'products.product.add_to_cart' | t }}
                                            {%- else -%}
                                                {{ 'products.product.sold_out' | t }}
                                            {%- endif -%}
                                        </span>
                                        <div class="loading-overlay__spinner hidden">
                                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                          </svg>
                                        </div>
                                    </button>
                                {%- if block.settings.show_dynamic_checkout -%}
                                  {{ form | payment_button }}
                                {%- endif -%}
                              </div>
                            {%- endform -%}
                       
                            {%- else -%}
                                        <script>                                            
                                          	document.getElementById("affirm-as-low-as").style.display = "block";
                                          	document.getElementById("all-variants-container").style.display = "none";  
                                            document.getElementById("price-wrapper").style.display = "none";
                                      	</script>
                                  		<h2 class="text-3xl">THIS PRODUCT IS AN OPTION FOR THE:</h2>
                                        {% assign realProduct = all_products[product.metafields.associated_products.not_intended_for_sale] | within: collection %}
                                  <span class="text-gray-400"><a href="./{{ realProduct.handle }}">{{ realProduct.title }}</a></span> Package. It is not sold separately. 
                            {%- endif -%}
                          </product-form>
<!-- PICKUP AVAILABLILITY MODAL -->
                            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}
                            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}                          	
                              <div class="bg-gray-200 shadow-lg w-full flex-col flex inline-block mt-5 gap-5 pb-8 pt-8 px-8 justify-left pickup-availability-container">
                                {% if product.metafields.global.same_day_shipping %}  
                                   <div class="rounded-xl ">                                     
                                     <div class="flex inline-block min-w-0">
                                       <span class="my-auto pr-5"><img style="height:60px; width: 94px;"
                                                                       src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/same-day-icon.png?v=1640729343" loading="lazy"/></span>
                                       <p class="caption-large"><strong><i>SAME-DAY-SHIPPING-ON-MOST-ORDERS</i></strong><br>
                                         Most orders placed before <span class="font-bold" style="color:#108043">1:00 p.m. CST</span>
                                         ship same day <em>(except weekends and holidays)</em>. We are here to help verify <b>lead times</b> and <b>custom colors</b>.
                                       </p>
                                     </div>                               
                                   </div>
                            	{% endif %}
                                   <div class="w-full rounded-xl">
                                     <pickup-availability class="pickup-availability product__pickup-availabilities w-full" {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size> 0 %} available{% endif %} data-base-url="{{ shop.url }}{{ routes.root_url }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}" data-has-only-default-variant="{{ product.has_only_default_variant }}">
                                       <template>
                                         <pickup-availability-preview class="pickup-availability-preview">
                                           {% render 'icon-unavailable' %}
                                           <div class="pickup-availability-info">
                                             <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                                             <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                                           </div>
                                         </pickup-availability-preview>
                                       </template>
                                     </pickup-availability>
                                   </div>
                              </div> <!-- pickup-availability-container -->
                              <!-- end product info {{ section.id }} -->
                              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                        </div>   <!-- buy-buttons-container -->
               </div>                           
               {%- endcase -%}
               {%- endfor -%}
<!-- CART MODAL -->
        {% assign popups = section.blocks | where: "type", "popup" %}
        {%- for block in popups -%}
            <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
                <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
                    <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                    <div class="product-popup-modal__content-info">
                        <h1 class="h2">{{ block.settings.page.title }}</h1>
                        {{ block.settings.page.content }}
                    </div>
                </div>
            </modal-dialog>
        {%- endfor -%}
    </div>
</div>
</section>
<script>
  tfupdateSKU('{{ product.selected_or_first_available_variant.sku }}');
  var elem = document.querySelector('.carousel.product__image-slider');
  var flktyMAIN = new Flickity( elem, {
    contain: true,
    groupCells: true,
    imagesLoaded: true,
    lazyLoad: 1,
    wrapAround: true,
    pageDots: false,
    {% if product.images.size < 2 %}
    prevNextButtons: false,
    pageDots: false,
    {% endif %}
    adaptiveHeight: true
  });
  
  var elemThumbnail = document.querySelector('.carousel.product__image-thumbnail');
  var flktyB = new Flickity( elemThumbnail, {
    asNavFor: '.carousel.product__image-slider',
    contain: true,
    groupCells: true,
    imagesLoaded: true,
    lazyLoad: 4,
    pageDots: false,
    prevNextButtons: false
  });
</script>
{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }
    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
	{
      "type": "tf_variant_picker",
      "name": "TF Variant Options",
      "limit": 8
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "associated_product",
      "name": "Associated Product",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        },
        {
		  "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.popup.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.popup.settings.custom_liquid.info"
   
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": true,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
