<style>
  .flex-direction {
    flex-direction: column-reverse!important; 
  }
  @media screen and (min-width:750px) {
    .flex-direction {
      flex-direction: row-reverse!important; 
    } 
  }
  .content {
   background-color: rgb(78 78 78 / 50%);
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
</style>


<section class="product-stack">
{%- for block in section.blocks -%}
	{%- case block.type -%}
<!-- stack layer -->
		{%- when 'empty-stack-layer' -%}
			<div class="empty-stack-layer {{ block.settings.empty_layer_css_classes }}">
            	&nbsp;
  			</div>
<!-- image with text layer -->
  		{%- when 'image-with-text-layer' -%}  
  			<div class="place-content-center w-full h-full pt-10 pb-20 {{ block.settings.image_with_text_css_classes }}" 
                 style="{% if block.settings.bg-blend %}background-blend-mode:hard-light;{% endif %} 
                        height:100%; 
                        color:{% if block.settings.text-color != blank %} {{ block.settings.text-color }}{% endif %};
                        text-align:-webkit-center;
                        background-color:{% if block.settings.bg-color != blank %} {{ block.settings.bg-color }}{% endif %};  
                        background-size:cover;
                        background-attachment:scroll;
                        background-position:center;
                        background-repeat:no-repeat;
                        background-image:url('{% if block.settings.background != blank %} {{ block.settings.background | img_url: '1402x905' }} {% if block.settings.height == 'adapt' and block.settings.image != blank %} 
                        style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}{% endif %}');">
                <div class="place-content-center w-full md:w-7/8 flex p-0 md:p-6 lg:p-16 flex-col{% if block.settings.layout == 'text_first' %}-reverse{% endif %} 
                            lg:flex-row{% if block.settings.layout == 'text_first' %}-reverse{% endif %} 
                            md:flex-row{% if block.settings.layout == 'text_first' %}-reverse{% endif %} 
                            sm:flex-col{% if block.settings.layout == 'text_first' %}-reverse{% endif %}"
                     style="text-align:-webkit-center;">
                  {%- if block.settings.image != blank -%}
                    <div class="w-full">
                      <div class="mx-auto">             
                        <img
                          srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                            {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                            {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                            {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                            {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                            {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                            {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                          src="{{ block.settings.image | img_url: '1500x' }}"
                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                          alt="{{ block.settings.image.alt | escape }}"
                          loading="lazy"
                          width="{{ block.settings.image.width }}"
                          height="auto"
                          {% if block.settings.img-bleed-right %}style="margin-left:35px;"{% endif %} 
                        />                     
                      </div>
                    </div>
                  {%- endif -%}
                  <div class="content w-full p-5 md:p-16 rounded-2xl place-self-center"
                       {% if block.settings.content_bg %} style="background-color: {{ block.settings.content_bg_color | color_modify: 'alpha', 0.6 }};" {% endif %}>
                    <div class="text-center sm:text-center md:text-left lg:text-left image-with-text__content image-with-text__content--{{ block.settings.height }}" 
                         style="{% if block.settings.text-color != blank %}color:{{ block.settings.text-color }}{% endif %};
                         		{% if block.settings.text_shadow %}text-shadow:0px 0px 5px black;{% endif %}
                                ">
                            <div class="pt-10 text-8xl pb-5" style="font-family:'Rajdhani'; font-weight:900;"{{ block.shopify_attributes }}>
                              {{ block.settings.heading_ | escape }}
                            </div>
                            <div class="text-5xl" style="font-family:'Rajdhani'; font-weight:400;" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                            <div class="text-6xl" style="font-family:'Rajdhani'; font-weight:900;"{{ block.shopify_attributes }}>
                              {{ block.settings.heading_2 | escape }}
                            </div>
                            <div class="text-3xl mb-10" style="font-family:'Rajdhani'; font-weight:400;" {{ block.shopify_attributes }}>{{ block.settings.text_2 }}</div>
                            {%- if block.settings.button_label != blank -%}
                              <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                                {{ block.settings.button_label | escape }}
                              </a>
                            {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
<!-- two over four layer -->
  			{%- when 'two-over-four-layer' -%}
  				<style type="text/css">
                	.text-shadow {
                    	text-shadow: 2px 2px #333;  
                    }
  				</style>
                <div class="w-full flex flex-wrap overflow-hidden p-10 py-20 {{ block.settings.two_over_four_css_classes }}"
                     {%- if block.settings.background != blank -%}
                     	style="background-image:url('{{ block.settings.background | img_url: '1402x' }}'); background-repeat: no-repeat; background-size: cover;"
                     {%- endif -%}
                     >
                    <div class="pb-10 {{ block.settings.main_heading_css }}">{{ block.settings.main_heading_ }}</div>
                    <div class="w-full m-auto flex flex-row flex-wrap text-center" style="max-width:950px">
	<!-- TOP PANEL 1 -->
                        <div class="top-panel-1 w-full sm:w-full md:w-1/2 flex flex-col justify-center text-center lg:text-left {{ block.settings.top_panel_1_css }}">
                          {%- if block.settings.top_panel_1_heading_ != blank -%}
                            <div class="{{ block.settings.top_panel_1_heading_css }}">
                              {{ block.settings.top_panel_1_heading_ }}
                            </div>
                          {%- endif -%}
                          {%- if block.settings.top_panel_1_image != blank -%}
                          <div class="w-full">
                            <img class="w-full h-auto" src="{{ block.settings.top_panel_1_image | img_url: '425x' }}" loading="lazy" />
                          </div>
                          {%- endif -%}
                          <div class="w-full">{{ block.settings.top_panel_1_text }}</div>
                        </div>
        <!-- TOP PANEL 2 -->
                        <div class="top-panel-2 raj w-full sm:w-full md:w-1/2 flex flex-col text-center lg:text-left justify-center {{ block.settings.top_panel_2_css }}">
                            {%- if block.settings.top_panel_2_css != blank -%}
                                <div class="{{ block.settings.top_panel_2_heading_css }}">
                                    {{ block.settings.top_panel_2_heading_ }}
                                </div>
                            {%- endif -%}
                            {%- if block.settings.top_panel_2_image != blank -%}
                                <div class="w-full">
                                    <img src="{{ block.settings.top_panel_2_image | img_url: '425x' }}" loading="lazy" />
                                </div>
                            {%- endif -%}
                            {%- if block.settings.top_panel_2_text != blank -%}
                                <div class="text-center raj mt-0">{{ block.settings.top_panel_2_text }}</div>
                            {%- endif -%}
                        </div>
                    </div>
	<!-- MIDDLE PANEL -->
                    <div class="pt-10 pb-10 middle-panel w-full flex justify-center {{ block.settings.middle_panel_css }}">
                  		{%- if block.settings.middle_panel_image != blank -%}
                    		<div class="mx-auto p-0">
                    			<img class="w-full h-auto" src="{{ block.settings.middle_panel_image | img_url: 'master' }}" loading="lazy" />
                    		</div>
                    	{%- endif -%}
                      	{%- if block.settings.middle_panel_text != blank -%}
                    		<div class="mx-auto">{{ block.settings.middle_panel_text }}</div>
                      	{%- endif -%}
                  	</div>
                	<div class="flex flex-col md:flex-row text-center w-full place-content-center items-baseline">
    <!-- BOTTOM PANEL 1 -->
                    	{%- if block.settings.bottom_panel_2_image != blank -%}
                        <div class="bottom-panel-1 {{ block.settings.bottom_panel_1_css }}">
                    		<div class="mx-auto" style="text-align: -webkit-center;">
                    			<img src="{{ block.settings.bottom_panel_1_image | img_url: '300x' }}" loading="lazy" />
                    		</div>
                    	{%- endif -%}
                      	{%- if block.settings.bottom_panel_1_text -%}
                    		<div class="mx-auto w-3/4">{{ block.settings.bottom_panel_1_text }}</div>
                      	</div>
                        {%- endif -%}
    <!-- BOTTOM PANEL 2 -->                    	
                    	{%- if block.settings.bottom_panel_2_image != blank -%}
                        <div class="bottom-panel-2 {{ block.settings.bottom_panel_2_css }}">
                    		<div class="mx-auto" style="text-align: -webkit-center;">
                    			<img src="{{ block.settings.bottom_panel_2_image | img_url: '300x' }}" loading="lazy" />
                    		</div>
                    	{%- endif -%}
                      	{%- if block.settings.bottom_panel_2_text != blank -%}
                    		<div class="mx-auto w-3/4">{{ block.settings.bottom_panel_2_text }}</div>
                        </div>  
                      	{%- endif -%}                       	
    <!-- BOTTOM PANEL 3 -->
                    	{%- if block.settings.bottom_panel_3_image != blank -%}
                        <div class="bottom-panel-3 {{ block.settings.bottom_panel_3_css }}">
                    		<div class="mx-auto" style="text-align: -webkit-center;">
                    			<img src="{{ block.settings.bottom_panel_3_image | img_url: '300x' }}" loading="lazy" />
                    		</div>
                    	{%- endif -%}
                      	{%- if block.settings.bottom_panel_3_text != blank -%}
                    		<div class="mx-auto w-3/4">{{ block.settings.bottom_panel_3_text }}</div>
                        </div>
                      	{%- endif -%}                  	
    <!-- BOTTOM PANEL 4 -->
                       {%- if block.settings.bottom_panel_4_image != blank -%}
                  		<div class="bottom-panel-4 {{ block.settings.bottom_panel_4_css }}">
                    		<div class="mx-auto" style="text-align: -webkit-center;">
                    			<img src="{{ block.settings.bottom_panel_4_image | img_url: '300x' }}" loading="lazy" />
                    		</div>
                    	{%- endif -%}
                      	{%- if block.settings.bottom_panel_4_text != blank -%}
                    		<div class="mx-auto w-3/4">{{ block.settings.bottom_panel_4_text }}</div>
                      	</div>
                        {%- endif -%}
                	</div>
				</div>
	{%- endcase -%}
{%- endfor -%}
</section>


{% schema %}
  {
    "name": "Product Stack",
	"tag": "section",
	"blocks": [
{
		"type": "dynamic-1",
		"name": "Dynamic Layer",
		"settings": [
			{
			"type": "text",
         	"id": "empty_layer_css_classes",
         	"default": "Css Classes",
         	"label": "Css Classes for Layer Block"
			}
		]
		},
		{
		"type": "empty-stack-layer",
		"name": "Empty Layer",
		"settings": [
			{
			"type": "text",
         	"id": "empty_layer_css_classes",
         	"default": "Css Classes",
         	"label": "Css Classes for Layer Block"
			}
		]
		},
		{
		"type": "two-over-four-layer",
		"name": "Two Over Four Layer",
		"settings": [
			{
				"type": "text",
         		"id": "two_over_four_css_classes",
         		"label": "Css Classes for Layer Block"
			},
			{
				"type": "image_picker",
         		"id": "background",
         		"label": "Background Image"
			},
            {
                "type": "checkbox",
                "id": "bg-blend",
                "label": "Background Blend Mode",
                "default": false
            },
			{
				"type": "text",
         		"id": "main_heading_",
         		"label": "Main Heading"
			},
			{
				"type": "text",
         		"id": "main_heading_css",
         		"label": "Css Classes for Main Heading"
			},
			{
				"type": "text",
         		"id": "top_panel_1_css",
         		"label": "Css Classes for Top Panel 1"
			},
			{
				"type": "text",
         		"id": "top_panel_1_heading_css",
         		"label": "Css Classes for Top Panel Heading"
			},
			{
				"type": "text",
         		"id": "top_panel_1_heading_",
         		"label": "Top Panel 1 Heading"
			},
			{
				"type": "image_picker",
         		"id": "top_panel_1_image",
         		"label": "Top Panel 1 Image"
			},
			{
				"type": "richtext",
         		"id": "top_panel_1_text",
				"default": "<p>Top Panel 1</p>",
         		"label": "Top Panel 1 Text"
			},
			{
				"type": "text",
         		"id": "top_panel_2_css",
         		"label": "Css Classes for Top Panel 2"
			},
			{
				"type": "text",
         		"id": "top_panel_2_heading_css",
         		"label": "Css Classes for Top Panel Heading 2"
			},
			{
				"type": "text",
         		"id": "top_panel_2_heading_",
         		"label": "Top Panel 2 Heading"
			},
			{
				"type": "image_picker",
         		"id": "top_panel_2_image",
         		"label": "Top Panel 2 Image"
			},
			{
				"type": "text",
         		"id": "top_panel_2_text",
         		"default": "Top Panel 2",
         		"label": "Top Panel 2 Text"
			},
			{
				"type": "text",
         		"id": "middle_panel_css",
         		"label": "Css Classes for Middle Panel"
			},
			{
				"type": "image_picker",
         		"id": "middle_panel_image",
         		"label": "Middle Panel Image"
			},
			{
				"type": "text",
         		"id": "middle_panel_text",
         		"default": "Middle Panel Text",
         		"label": "Middle Panel Text"
			},
			{
				"type": "text",
         		"id": "bottom_panel_1_css",
         		"label": "Css Classes for Bottom Panel 1"
			},
			{
				"type": "image_picker",
         		"id": "bottom_panel_1_image",
         		"label": "Bottom Panel 1 Image"
			},
			{
				"type": "text",
         		"id": "bottom_panel_1_text",
         		"default": "Bottom Panel 1",
         		"label": "Bottom Panel 1 Text"
			},
			{
				"type": "text",
         		"id": "bottom_panel_2_css",
         		"label": "Css Classes for Bottom Panel 2"
			},
			{
				"type": "image_picker",
         		"id": "bottom_panel_2_image",
         		"label": "Bottom Panel 2 Image"
			},
			{
				"type": "text",
         		"id": "bottom_panel_2_text",
         		"default": "Bottom Panel 2",
         		"label": "Bottom Panel 2 Text"
			},
			{
				"type": "text",
         		"id": "bottom_panel_3_css",
         		"label": "Css Classes for Bottom Panel 3"
			},
			{
				"type": "image_picker",
         		"id": "bottom_panel_3_image",
         		"label": "Bottom Panel 3 Image"
			},
			{
				"type": "text",
         		"id": "bottom_panel_3_text",
         		"default": "Bottom Panel 3",
         		"label": "Bottom Panel 3 Text"
			},
			{
				"type": "text",
         		"id": "bottom_panel_4_css",
         		"label": "Css Classes for Bottom Panel 4"
			},
			{
				"type": "image_picker",
         		"id": "bottom_panel_4_image",
         		"label": "Bottom Panel 4 Image"
			},
			{
				"type": "text",
         		"id": "bottom_panel_4_text",
         		"default": "Bottom Panel 4",
         		"label": "Bottom Panel 4 Text"
			}
		]
		},
		{
		"type": "image-with-text-layer",
		"name": "Image With Text Layer",
		"settings": [
			{
				"type": "text",
         		"id": "image_with_text_css_classes",
         		"default": "Tailwind here...",
         		"label": "Css Classes for Layer Block"
			},
			{
				"type": "image_picker",
          		"id": "background",
          		"label": "Background Image"
			},
			{
				"type": "image_picker",
          		"id": "image",
          		"label": "Main Image"
			},
			{
                "type": "color",
                "id": "bg-color",
                "label": "Background Color",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "id": "text-color",
                "label": "Text Color",
                "default": "#FFFFFF"
            },
            {
                "type": "checkbox",
                "id": "bg-blend",
                "label": "Background Blend Mode",
                "default": false
            },
			{
                "type": "checkbox",
                "id": "img-bleed-right",
                "label": "Main Image Full Right Margin",
                "default": false
            },
			{
				"type": "checkbox",
         		"id": "text_shadow",
         		"label": "Turn on Text Shadow",
				"default":false
			},
			{
				"type": "checkbox",
         		"id": "content_bg",
         		"label": "Turn on content background",
				"default":false
			},
			{
				"type": "color",
         		"id": "content_bg_color",
         		"label": "Content BG Color",
				"default":"#000"
			},
			/*{
				"type": "range",
         		"id": "content_bg_opacity",
         		"label": "Content BG Opacity",
                "min": 0.0,
                "max": 1,
                "step": 0.2,
                "default": 0.6
            },*/
            {
          		"type": "text",
          		"id": "heading_",
          		"default": "Heading 1",
          		"label": "Heading"
        	},
			{
          		"type": "richtext",
          		"id": "text",
          		"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          		"label": "Layer Text"
        	},
			{
          		"type": "text",
          		"id": "heading_2",
          		"default": "Heading 2",
          		"label": "Heading 2"
        	},
			{
          		"type": "richtext",
          		"id": "text_2",
          		"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          		"label": "Layer Text 2"
        	},
            {
                "type": "select",
                "id": "layout",
                "options": [
                  {
                    "value": "image_first",
                    "label": "t:sections.image-with-text.settings.layout.options__1.label"
                  },
                  {
                    "value": "text_first",
                    "label": "t:sections.image-with-text.settings.layout.options__2.label"
                  }
                ],
                "default": "image_first",
                "label": "t:sections.image-with-text.settings.layout.label",
                "info": "t:sections.image-with-text.settings.layout.info"
            }
		]
		}
	],
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
